* {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Book.woff2") format('woff2'),
       url("../fonts/MaisonNeue-Book.woff") format('woff');
}

::selection {
    background: #faebd7;
    color: black;
}

html {
  height: 100%;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-rendering: geometricPrecision;
}

body {
  height: 100%;
  padding: 0 2.4rem;
  background: #f1f2f2;
  color: #111111;
  font-family: "Maison Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  cursor: url(../img/cursor.png) 6 6, auto;
  cursor: -webkit-image-set(url(../img/cursor.png) 1x, url(../img/cursor2x.png) 2x) 6 6, auto;
}

main {
  height: 100%;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

h1, h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

h1 {
  margin-top: 0.8rem;
  padding-top: 30vh;
  letter-spacing: 0.04rem;
}

h2 {
  font-family: "M PLUS 1p";
  font-size: 1rem;
  letter-spacing: .12rem;
  color: rgba(0,0,0, .33);
  margin-top: .9rem;
  margin-bottom: 2.4rem;
}

a {
  color: #111111;
  text-decoration: none;
  cursor: url(../img/pointer.png) 6 6, pointer;
  cursor: -webkit-image-set(url(../img/pointer.png) 1x, url(../img/pointer2x.png) 2x) 6 6, pointer;
}

a:hover {
  text-decoration: underline;
}

.link {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.4rem;
  margin: 0 0 0 -0.4rem;
}

li {
    list-style-type: none;
    display: block;
}

main > .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  padding-bottom: 12vh;
}

@media (max-device-width: 1300px) {
  .inner { max-width: 800px; }
}

@media (max-device-width: 450px) {
  .inner  { max-width: none; }
  h1      { padding-top: 14vh; }
  .link   { padding: 0.6rem; margin: 0 0 0 -0.6rem; }
  ul      { padding-bottom: 2.4rem; }
}
